$tablet: 768px;
$desktop: 1024px;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #242424;
  --second-color: rgba(255, 255, 255, 0.87);
  --third-color: #1a1a1a;
  color-scheme: light dark;
  color: var(--second-color);
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box; // box-sizing nie jest dziedziczony automatycznie z elementu nadrzędnego
}

body {
  margin: 0;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--third-color);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  &__button {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);

    cursor: pointer;

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }

    & svg {
      fill: var(--second-color);
    }

    & svg:last-child {
      display: none;
    }
  }

  &__label {
    display: block;
  }

  &__input {
    font-size: inherit;
    border-radius: 0.5rem;
    color: inherit;
    border: 1px solid var(--second-color);
    padding: 0.5rem 0.7rem;
    min-width: 100%;

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  &__warning {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }

  &__wrapper {
    position: relative;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: min(80%, 320px);
  gap: 1rem;
}

.item {
  opacity: 1;
}

.profile {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 320px;
  min-height: 100vh;
}

.progress {
  min-width: min(80%, 320px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__checklist {
    background-color: var(--third-color);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
  }

  &__description {
    text-align: center;
    margin: 0;
  }

  &__percentage {
    width: 5rem;
    height: 5rem;
    background-color: #646cff;
  }
}

.visible {

  & .fieldset__button {

    & svg:first-child {
      display: none;
    }

    & svg:last-child {
      display: block;
    }
  }
}

.warning {
  color: #df2e2e;

  & p {
    visibility: visible;
  }

  & input {
    border-color: #df2e2e;
  }

}

@media screen and (min-width: $tablet) {

  .profile {
    flex-direction: row-reverse;
    gap: 3rem;
    font-size: 1.1rem;
  }

  .progress {
    min-width: 224px;

    &__checklist {
      height: 11rem;
    }

    &__percentage {
      width: 5.5rem;
      height: 5.5rem;
    }
  }
}

@media screen and (min-width: $desktop) {
  .profile {
    font-size: 1.2rem;
  }

  .progress {

    &__checklist {
      height: 12rem;
    }

    &__percentage {
      width: 6rem;
      height: 6rem;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #ffffff;
    --second-color: #213547;
    --third-color: #e5e5e5;
  }

  .button {
    color: rgba(255, 255, 254);
    background-color: #1a1a1a;
  }
}